section.filter
    .container
        .filter-wrapper
            .filter__title Фильтр:
            .filter__items
                .filter__item
                    the-select
                .filter__item
                    the-select
                .filter__item
                    the-select
                .filter__item
                    the-select